{% extends 'base.html' %}
{% block title%} Add Pet{% endblock %}

{% block content %}
    <h1>Add Pet</h1>
  <div class="form-group">
    <form id="pet-add-form" method="POST"> 
        {{ form.hidden_tag() }} <!--Add type=hidden form field -->

        {% for field in form
            if field.widget.input_type != 'hidden' %}
      <div class="form-group">
          <label for="first_name" class="col-sm-2 col-form-label">{{ field.label }}</label>
          <div class="col-sm-12">
            {{ field(class="form-group") }}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}    
          </div>
      </div>    
        
    {% endfor %}

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg">submit</button>
        </div>
        
      </form>

   
    


{% endblock %}